.inputField {
  border-radius: 3px;
  width: max-content;
  margin: .5em;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.inputField > input {
  height: 2.2em;
}

.inputField > span {
  color:rgb(245, 88, 88);
  font-size: 12px;
}

h4{
  color:rgb(252, 248, 248);
  justify-self: center;
  width:max-content;
  border-radius: 5px;
  margin-bottom: 1em;
}
.main {
  margin-top: 2em;
  justify-self: center;
  align-self: center;
  display: grid;
  background-color: rgb(226, 226, 226);
  border-style: solid;
  border-width: 1px;
  padding: 3em;
  width: max-content;
  border-radius: 10px;
}

.loginMain{
    margin-top: 2em;
    justify-self: center;
    justify-content: center;
    align-self: center;
    display: grid;
    background-color: rgb(58, 57, 56);
    border-style: solid;
    border-width: 1px;
    padding: 3em;
    width: min-content;
    border-radius: 10px;
}



.container {
  display: grid;
  background-color: rgba(255, 255, 255, 0);
}
.inputArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  margin-bottom: 2em;
}

.shopBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  height: max-content;
  grid-gap: 1em;
  justify-self: center;
  margin-top:2em;
}
.showBtn > button {
  justify-self: center;
}
.inputArea > input {
  width: 15em;
  height: 2em;
  margin:1em;
}

