input {
  border-radius: 3px;
  border-style: solid;
  height: 2.2em;
  border-width: 1px;
}

h4{
  color:rgb(194, 194, 194);
  justify-self: center;
}
.main {
  margin-top: 2em;
  justify-self: center;
  align-self: center;
  display: grid;
  background-color: rgb(226, 226, 226);
  border-style: solid;
  border-width: 1px;
  padding: 3em;
  width: max-content;
  border-radius: 10px;
}

.loginMain{
    margin-top: 2em;
    justify-self: center;
    justify-content: center;
    grid-gap: 1em;
    align-self: center;
    display: grid;
    background-color: rgb(58, 57, 56);
    border-style: solid;
    border-width: 1px;
    padding: 3em;
    width: min-content;
    border-radius: 10px;
}

.container {
  display: grid;
  background-color: rgba(255, 255, 255, 0);
}
.inputArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  margin-bottom: 2em;
}

.shopBtn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  height: max-content;
  grid-gap: 1em;
  justify-self: center;
  margin-top:2em;
}
.showBtn > button {
  justify-self: center;
}
.inputArea > input {
  width: 15em;
  height: 2em;
  margin:1em;
}

.logo {
  display: grid;
  justify-self: center;
  grid-template-columns: 1.8fr 1fr;
  width: 100%;
  height: max-content;
  padding: 0.5em;
  background-color: white;
  border-bottom: 1px solid
}
.logo > a {
  justify-self: right;
}

.logo > button {
  justify-self: right;
  align-self: center;
  margin-right: 1em;
}

.logo > a > img {
  border-radius: 15px;
  justify-self: center;
  object-fit: cover;
}
