.fblink {
  font-size: 40px;
  color: rgb(9, 9, 155);
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0em;
}

.instalink {
  font-size: 40px;
  color: rgb(255, 96, 34);
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0em;
}

.instalink:hover{
    color: rgb(248, 70, 0);
}

.fblink:hover {
  color: rgb(8, 2, 63);
}

.footer {
  display: flex;
  justify-content: center;
  border-style: 2px solid;
  padding: 1em;
  background-color: rgba(196, 193, 187, 0.521);
  margin-top: 1em;
  width: 40%;
  border-radius: 5px;
  justify-items: center;
}

.container {
  display: grid;
  justify-items: center;
}
